<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>811244696693-aodl8frf3i7ade1jkqkp4ngqkp8cu9hp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.811244696693-aodl8frf3i7ade1jkqkp4ngqkp8cu9hp</string>
	<key>API_KEY</key>
	<string>AIzaSyDkX6uK8V1IDtJ7EHBGMnwHpO-1m8MeGow</string>
	<key>GCM_SENDER_ID</key>
	<string>811244696693</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.resimob</string>
	<key>PROJECT_ID</key>
	<string>resimob</string>
	<key>STORAGE_BUCKET</key>
	<string>resimob.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:811244696693:ios:8683d1e3f1737ac49bb43c</string>
</dict>
</plist>